# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/
.env/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/0001_initial.py
**/migrations/0002_*.py

# Other
*.swp
*.swo
.DS_Store